.md-logo {
  margin: .2rem !important;
  padding: .2rem !important;
}
a.md-logo>img {
  width: 8.5rem !important;
  height: 1.8rem !important;
}

.md-header__title {
  margin-left: 0.2rem !important;
}

.md-header {
  background-color: #47A185 !important;
}